*{
font-family: Verdana, Geneva, Tahoma, sans-serif;
text-align: center;
}

.contact-icon{
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.contact-icon button{
  border: none;
  background-color: transparent;
  font-size: large;
}

.button-click, .dowload{
    border: none;
    background-color: transparent; 
    font-size: large;
    margin-top: 2rem;
    cursor: pointer;
}

.link{
  text-decoration: none;
}

.li{
  text-align: left;
}

.portfolio-page li{
text-align: left;
}

.h1, .h2{
  margin-top: 5rem;
}


.gif{
  height: 300px;
  width: 600px;
  margin-top: 2rem;
}

.gif2{
  height: 500px;
  width: 300px;
  margin-top: 2rem;
}

.gif3{
  height: 500px;
  width: 400px;
  margin-top: 2rem;
}


  @media (max-width: 768px) {

  //  .petson{
  //   display: flex;
  //   flex-direction: column;
  //   align-items: center;
  //  }

   .contact-icon{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
   }
    }



@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base{
  h1{
    @apply text-4xl text-black
  }
  h2{
    @apply text-2xl text-black
  }
}
