*{
font-family: Verdana, Geneva, Tahoma, sans-serif;
text-align: center;
font-size:large;
}

.contact-icon{
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.contact-icon button{
  border: none;
  background-color: transparent;

}

.button-click, .dowload{
    border: none;
    background-color: transparent; 
    font-size: large;
    margin-top: 2rem;
    cursor: pointer;
}

.link{
  text-decoration: none;
}

.li{
  text-align: left;
}

.portfolio-page li{
text-align: left;
}

.gif{
  height: 200px;
  width: 300px;
  margin-top: 2rem;
}

.gif2{
  height: 400px;
  width: 200px;
  margin-top: 2rem;
}

.gif3{
  height: 400px;
  width: 300px;
  margin-top: 2rem;
}




@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base{
  h1{
    @apply text-3xl text-black
    
  }
  h2{
    @apply text-2xl text-black
  }
}

@layer utilities {
  .logomain {
    height: 50px;
    width: 50px;
  }
  .logocontact{
    height: 30px;
    width: 30px;
  }
  .pic {
    height: 180px;
    width: 200px;
    margin-top: 3rem;
     }
  .pr1, .pr4, .front{
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-width: 4px;
  }
  .pr2, .pr3, .back, .db, .test, .api, .another{
    margin-bottom: 2rem;  
    border-width: 4px;
  }
  .main{
    margin-right: 1rem;     
    border-width: 4px;
  }
  .contact{
    border-width: 4px; 
  }
}
