.main{
  margin: 80px;
 font-size:large;
 font-family: Georgia, 'Times New Roman', Times, serif;
}

.pic {
height: 350px;
width: 300px;
float:left; 
margin: 7px 27px 7px 0px; 
 }

 .main p{
  line-height: 3rem;
 }

.main span{
color: rgb(127, 136, 255);
}

.nav {
  position: fixed;
  height: 60px;
  left: 0;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  gap: 2rem;
  align-items: center;
  font-size:large;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: #fff;
}

.nav a, .main a {
  color: black;
  text-decoration: none;
}

