.main{
  margin: 80px;
 font-size:large;
 font-family: Georgia, 'Times New Roman', Times, serif;
}

.main p{
line-height: 2rem;
 }

.main span{
color: rgb(127, 136, 255);
}

.nav {
  position: fixed;
  height: 60px;
  left: 0;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  align-items: center;
  font-size:large;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: #fff;
}

.nav a, .main a {
  color: black;
  text-decoration: none;
}

@media (max-width: 768px) {
  .nav{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
    }

    .logo{
      size: 1rem;
    }
